body {
  font-family: Arial, sans-serif;
  padding-top: 40px;
  padding-bottom: 200px;
  padding-left: 80px;
  padding-right: 80px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li { margin-bottom: 10px; }

li ul {
  margin-top: 0.5em;
}

.header { text-align: center; }

.section-title {
  padding-bottom: 5px;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.bold { font-weight: bold; }

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-name { font-weight: bold; }
.project-date { font-weight: bold; }
