table.tabular {
    margin: auto;
    border-spacing: 1rem;
}

table.tabular.left-align {
    margin-right: auto;
    margin-left: 0;
}

table.tabular.center-align {
    margin: auto;
}

table.tabular.right-align {
    margin-left auto;
    margin-right: 0;
}

table.tabular td,
table.tabular th {
    text-align: left;
    vertical-align: top;
}

table.tabular td>p:first-child,
table.tabular th>p:first-child {
    margin-top: 0;
}

table.tabular td>p:last-child,
table.tabular th>p:first-child {
    margin-bottom: 0;
}



table.tabular {
    margin: auto;
    border-spacing: 1rem;
}

table.tabular.left-align {
    margin-right: auto;
    margin-left: 0;
}

table.tabular.center-align {
    margin: auto;
}

table.tabular.right-align {
    margin-left auto;
    margin-right: 0;
}

table.tabular td,
table.tabular th {
    text-align: left;
    vertical-align: top;
}

table.tabular td>p:first-child,
table.tabular th>p:first-child {
    margin-top: 0;
}

table.tabular td>p:last-child,
table.tabular th>p:first-child {
    margin-bottom: 0;
}