<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adj-Matrix</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="icon" href="/assets/img/adjmatrix_black.png" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
  <link rel="icon" href="/assets/img/adjmatrix.png" media="(prefers-color-scheme: dark)">
</head>
<body class="pages">
  <main id="container">
    <div id="frame">
      <header class="hero-section">
        <div class="row">
          <img src="/assets/img/fighting.png" alt="Fighting Logo" class="main-logo">
          <h1>Links</h1>
        </div>
        <div class="row vertical">
          <p>Contact - <a href="mailto:adjmatrix@outlook.com">adjmatrix@outlook.com</a></p>
        </div>
      </header>

      <section class="section">
        <h3>Guides</h3>
        <div class="link-list">
          <a class="link-item" href="https://adjmatrix.site/pages/cs-guide">
            <i class="fa-solid fa-code"></i>
            <span>Computer Science - Guide</span>
            <span class="badge">A simple guide to learn CS for CS major</span>
          </a>

          <div class="notice info">
            <i class="fa-solid fa-circle-info"></i>
            <span>Following pages may be not implemented well, please refer at your own discretion.</span>
          </div>

          <a class="link-item is-muted" href="https://adjmatrix.site/pages/wondering">
            <i class="fa-solid fa-compass"></i>
            <span>The Hitchhiker's Guide to Information Science (for CS)</span>
            <span class="badge">Not yet implemented</span>
          </a>
        </div>
      </section>

      <section class="section">
        <h3>BLOGS (Still working)</h3>
        <div class="link-list">
          <a class="link-item is-unaccessible" href="https://adjmatrix.site/pages/lang-guide">
            <i class="fa-solid fa-language"></i>
            <span>Language - Experience</span>
            <span class="badge">Simple language learning experience</span>
          </a>
          <a class="link-item is-unaccessible" href="https://adjmatrix.site/pages/math-guide">
            <i class="fa-solid fa-square-root-variable"></i>
            <span>Mathematics for CS</span>
            <span class="badge">A simple guide to learn Mathematics for CS major</span>
          </a>
        </div>
      </section>

      <!-- <div class="notice warning">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <span></span>
      </div> -->

    </div>
  </main>
</body>
</html>
